{% extends 'base.html.twig' %}

{% block title %}Mon Panier!{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('css_cart') }}{{ parent() }}{% endblock %}

{% block body %}



        <div class="article-wrapper">
        {% for article in articles %}

                <div class="card">
                    <div class="container">
                        <h4><b>{{ article.intitule }}</b><br>
                            {{ article.prix }}€
                        </h4>

                        <p>{{ article.description }} </p>
                        <div>
                            <button>
                                <a href="{{ path('app_article_stock_show', {'id': article.id}) }}">Voir en Boutique</a>
                            </button>
                            <button id="suppCart">
                                Supprimer du Panier
                                <div hidden id="idItem">{{ article.id }}</div>
                            </button>
                        </div>
                    </div>
                </div>
            </a>
        {% else %}
            <tr>
                <td colspan="5">Aucun Article dans le Panier</td>
            </tr>
        {% endfor %}
        </div>
    <div class="totalPrice"><h1>{{ prix }}</h1></div>

{% endblock %}
