{% extends 'base.html.twig' %}

{% block title %}Mon Panier!{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('css_cart') }}{{ parent() }}{% endblock %}

{% block javascripts %}{{ encore_entry_script_tags('app_cart') }}{{ parent() }}{% endblock %}

{% block body %}



        <div class="article-wrapper">
        {% for article in articles %}

                <div class="card" id="item{{ article.article.id }}">
                    <div class="container">
                        <h4><b>{{ article.article.intitule }}</b><br>
                            {{ article.article.prix }}€
                        </h4>

                        <p>{{ article.article.description }} </p>
                        <div class="options">
                            <button>
                                <a href="{{ path('app_article_stock_show', {'id': article.article.id}) }}">Voir en Boutique</a>
                            </button>
                            <button class="addPanier" id="{{ article.article.id }}">
                                &plus;
                            </button>
                            <div id="Quantity{{ article.article.id }}">
                                {{ article.quantity}}
                            </div>
                            <button class="delPanier" id="{{ article.article.id }}">
                                &minus;
                            </button>
                        </div>
                        <div id="Result{{ article.article.id }}"></div>
                    </div>
                </div>
            {% else %}
            <tr>
                <td colspan="5">Aucun Article dans le Panier</td>
            </tr>
        {% endfor %}
        </div>
    <div class="totalPrice"><h1 id="Price">{{ prix }}</h1></div>

{% endblock %}
