{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css_register') }}
    {{ parent() }}
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div>
        {{ form_label(registrationForm.mail) }}
        {{ form_widget(registrationForm.mail) }}
    </div>
    <div>
        {{ form_label(registrationForm.plainPassword, 'Password') }}
        {{ form_widget(registrationForm.plainPassword) }}
    </div>
    {{ form_row(registrationForm.tag) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn">Register</button>

        <div class="flash-error">
            {{ form_errors(registrationForm.mail) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

    {{ form_end(registrationForm) }}
{% endblock %}
