{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css_search') }}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_search') }}
    {{ parent() }}
{% endblock %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}

    {{ form_start(searchForm,{'attr':{'id' : 'searchForm' }}) }}
    {{ form_row(searchForm.keywords) }}
    <div class="flex">
    {{ form_row(searchForm.range) }}
        {{ form_row(searchForm.order) }}
        <div>
        <label for="search_form_genre" class="required">Genres :</label>
            <select id="search_form_genre">
                <option value=""></option>
                {% for genre in genres %}

                    <option value="{{ genre.id }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="search_form_ctg" class="required">Catégorie :</label>
            <select id="search_form_ctg">
                {% include 'search/ctg.html.twig' %}
            </select>
        </div>
        <div>
            <label for="search_form_type" class="required">Type :</label>
            <select id="search_form_type">
                {% include 'search/types.html.twig' %}
            </select>
        </div>
    </div>
    {{ form_end(searchForm) }}
<div id="article-wrapper" class="article-wrapper">
{% include 'search/result.html.twig' %}

</div>
{% endblock %}
